In [3]:
import pandas as pd 
import numpy as np

In [8]:
df = pd.read_csv('house_price_data.txt')
df

    2104  3  399900
0   1600  3  329900
1   2400  3  369000
2   1416  2  232000
3   3000  4  539900
4   1985  4  299900
5   1534  3  314900
6   1427  3  198999
7   1380  3  212000
8   1494  3  242500
9   1940  4  239999
10  2000  3  347000
11  1890  3  329999
12  4478  5  699900
13  1268  3  259900
14  2300  4  449900
15  1320  2  299900
16  1236  3  199900
17  2609  4  499998
18  3031  4  599000
19  1767  3  252900
20  1888  2  255000
21  1604  3  242900
22  1962  4  259900
23  3890  3  573900
24  1100  3  249900
25  1458  3  464500
26  2526  3  469000
27  2200  3  475000
28  2637  3  299900
29  1839  2  349900
30  1000  1  169900
31  2040  4  314900
32  3137  3  579900
33  1811  4  285900
34  1437  3  249900
35  1239  3  229900
36  2132  4  345000
37  4215  4  549000
38  2162  4  287000
39  1664  2  368500
40  2238  3  329900
41  2567  4  314000
42  1200  3  299000
43   852  2  179900
44  1852  4  299900
45  1203  3  239500